In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime 
import locale                                                           
import re
from tqdm import tqdm_notebook,tqdm,notebook
import matplotlib.pylab as plt
import json
from datetime import datetime
import pickle

plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)
locale.setlocale(locale.LC_ALL, 'ko_KR.UTF-8')

'ko_KR.UTF-8'

In [3]:
performance_data = pd.read_csv('../data/base_data_concat.csv')
weather = pd.read_csv("../data/2019_weather_data.csv",index_col=False)
weather.drop(['Unnamed: 0'],axis=1,inplace=True)
money = pd.read_excel('../data/money2.xls')
weather_2020 = pd.read_csv("../data/20206_weather_data.csv",index_col=False)
money_2020 = pd.read_excel('../data/20206_주가지수.xls')

In [4]:
display(performance_data.head())
display(weather.head())
display(money.head())
display(weather_2020.head())
display(money_2020.head())

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매량,요일,hour,minute,date,month,season,mean_rating,holiday,holiday_yn
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,52.606516,화요일,6,0,20190101,1,겨울,0.0,1월1일,1
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,109.548872,화요일,6,0,20190101,1,겨울,0.0,1월1일,1
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,81.754386,화요일,6,20,20190101,1,겨울,0.0,1월1일,1
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,174.310777,화요일,6,20,20190101,1,겨울,0.0,1월1일,1
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,167.218045,화요일,6,40,20190101,1,겨울,0.0,1월1일,1

             일시   기온  누적강수량   풍속    습도
0  201901010001 -8.3    0.0  3.7  93.1
1  201901010002 -8.3    0.0  2.8  93.3
2  201901010003 -8.4    0.0  3.0  93.3
3  201901010004 -8.3    0.0  1.8  93.4
4  201901010005 -8.2    0.0  2.2  93.5

,일자,현재지수,대비,등락률(%),배당수익률(%),주가이익비율,주가자산비율,시가지수,고가지수,저가지수,거래량(천주),거래대금(백만원),상장시가총액(백만원)
0,2018/12/03,"2,131.93",35.07,1.67,1.82,10.24,0.94,"2,127.78","2,136.64","2,113.60","436,588","5,571,246","1,427,528,843"
1,2018/12/04,"2,114.35",-17.58,-0.82,1.84,10.16,0.93,"2,125.67","2,128.94","2,105.45","507,518","5,539,553","1,414,637,237"
2,2018/12/05,"2,101.31",-13.04,-0.62,1.85,10.10,0.93,"2,086.57","2,107.69","2,086.57","492,716","4,802,793","1,405,505,402"
3,2018/12/06,"2,068.69",-32.62,-1.55,1.88,9.94,0.91,"2,094.62","2,094.62","2,064.00","537,410","5,606,457","1,383,505,179"
4,2018/12/07,"2,075.76",7.07,0.34,1.87,9.89,0.89,"2,081.68","2,086.84","2,065.62","371,591","4,318,800","1,389,034,610"

                 일시    기온  누적강수량   풍속    습도
0  2020-06-01 00:01  17.7    0.0  3.1  91.7
1  2020-06-01 00:02  17.7    0.0  2.6  91.7
2  2020-06-01 00:03  17.7    0.0  1.9  91.9
3  2020-06-01 00:04  17.7    0.2  1.9  91.9
4  2020-06-01 00:05  17.7    0.2  3.7  91.7

,일자,현재지수,대비,등락률(%),배당수익률(%),주가이익비율,주가자산비율,시가지수,고가지수,저가지수,거래량(천주),거래대금(백만원),상장시가총액(백만원)
0,2020/06/01,"1,262.84",24.78,2.00,2.11,18.80,0.93,"1,242.90","1,263.67","1,241.39","253,814","10,992,941","1,322,967,101"
1,2020/06/02,"1,276.08",13.24,1.05,2.08,19.00,0.94,"1,260.67","1,277.72","1,258.79","331,078","10,347,909","1,336,803,620"
2,2020/06/03,"1,317.40",41.32,3.24,2.02,22.46,0.97,"1,290.18","1,324.26","1,289.41","583,174","17,842,905","1,375,818,612"
3,2020/06/04,"1,320.10",2.70,0.20,2.01,22.50,0.97,"1,340.48","1,347.72","1,312.47","453,367","14,886,008","1,379,217,273"
4,2020/06/05,"1,338.30",18.20,1.38,1.99,22.83,0.99,"1,319.50","1,341.79","1,311.61","368,867","11,564,546","1,397,588,480"

### **날씨 붙이기**

In [5]:
weather.일시 = weather.일시.map(str)
weather['date'] = weather.일시.apply(lambda x: int(x[:8]))
weather['hour'] = weather.일시.apply(lambda x: int(x[8:10]))
weather['minute'] = weather.일시.apply(lambda x: int(x[10:]))

weather_2020['date'] = weather_2020.일시.apply(lambda x: int(re.sub('-','',x.split(' ')[0])))
weather_2020['hour'] = weather_2020.일시.apply(lambda x: int(x.split(' ')[1].split(':')[0]))
weather_2020['minute'] = weather_2020.일시.apply(lambda x: int(x.split(' ')[1].split(':')[1]))

In [6]:
merge_data = performance_data.drop_duplicates(['date','hour','minute']).reset_index(drop=True)
merge_data.방송일시 = merge_data.방송일시.apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
merge_data

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매량,요일,hour,minute,date,month,season,mean_rating,holiday,holiday_yn
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,52.606516,화요일,6,0,20190101,1,겨울,0.0000,1월1일,1
1,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,81.754386,화요일,6,20,20190101,1,겨울,0.0000,1월1일,1
2,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,167.218045,화요일,6,40,20190101,1,겨울,0.0000,1월1일,1
3,2019-01-01 07:00:00,20.000000,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0,115.576271,화요일,7,0,20190101,1,겨울,0.0000,1월1일,1
4,2019-01-01 07:20:00,20.000000,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000.0,265.915254,화요일,7,20,20190101,1,겨울,0.0000,1월1일,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22178,2020-06-30 23:50:00,10.000000,100099,200273,[일시불]라쉬반 FC바로셀로나 드로즈 패키지,속옷,99000,-1.0,-1.000000,화요일,23,50,20200630,6,여름,0.0007,no_holiday,0
22179,2020-07-01 00:00:00,10.000000,100099,200273,[일시불]라쉬반 FC바로셀로나 드로즈 패키지,속옷,99000,-1.0,-1.000000,수요일,0,0,20200701,7,여름,0.0007,no_holiday,0
22180,2020-07-01 00:10:00,10.000000,100099,200273,[일시불]라쉬반 FC바로셀로나 드로즈 패키지,속옷,99000,-1.0,-1.000000,수요일,0,10,20200701,7,여름,0.0007,no_holiday,0
22181,2020-07-01 01:20:00,20.000000,100261,200875,아놀드파마 티셔츠레깅스세트,의류,69900,-1.0,-1.000000,수요일,1,20,20200701,7,여름,0.0007,no_holiday,0
22182,2020-07-01 01:40:00,15.933333,100261,200875,아놀드파마 티셔츠레깅스세트,의류,69900,-1.0,-1.000000,수요일,1,40,20200701,7,여름,0.0007,no_holiday,0

In [7]:
merge_data = performance_data.drop_duplicates(['date','hour','minute']).reset_index(drop=True)
merge_data.방송일시 = merge_data.방송일시.apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
merge_data['subMin'] = merge_data.loc[1:,'방송일시'].reset_index(drop=True) - merge_data.loc[:22180,'방송일시']
merge_data['subMin'] = merge_data['subMin'].apply(lambda x: x.seconds/60)
merge_data = merge_data.iloc[:-1,:] # 2020년 데이터, 시청률 없음.

In [8]:
weather = weather.iloc[:,1:]
weather_2020 = weather_2020.iloc[:,1:]

In [9]:
weather = pd.concat([weather,weather_2020]).reset_index(drop=True)

In [10]:
for col in weather.columns[:4]:
    d = []
    for i in tqdm(range(len(merge_data))):
        date = merge_data.date[i]
        hour = merge_data.hour[i]
        minute = merge_data.minute[i]
        try:
            idx = weather[(weather['date'] == date) & (weather['hour'] == hour) & (weather['minute'] == minute)].index[0]
            a = weather.loc[idx:int(idx+merge_data.subMin[i]),col]
            d.append(a.mean())
        except:
            d.append(np.nan)
    merge_data[col] = d

100%|██████████| 22182/22182 [00:49<00:00, 448.52it/s]
100%|██████████| 22182/22182 [00:48<00:00, 454.85it/s]
100%|██████████| 22182/22182 [00:48<00:00, 458.85it/s]
100%|██████████| 22182/22182 [00:48<00:00, 457.78it/s]

In [11]:
merge_data['date'] = merge_data['date'].map(str)
performance_data['date'] = performance_data['date'].map(str)

### **주가 붙이기**

In [12]:
money = pd.concat([money,money_2020]).reset_index(drop=True)

In [13]:
money['date'] = money['일자'].apply(lambda x: re.sub('/','',x))
del money['일자']

In [14]:
merge_data = pd.merge(merge_data,money,on='date',how='left')

### **데이터 통합 후 저장**

In [15]:
merge_data['방송일시'] = merge_data['방송일시'].map(str)
merge_data = merge_data[['방송일시'] + list(merge_data.columns[19:])]
performance_data = performance_data.merge(merge_data,on='방송일시',how='left')
performance_data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매량,요일,...,등락률(%),배당수익률(%),주가이익비율,주가자산비율,시가지수,고가지수,저가지수,거래량(천주),거래대금(백만원),상장시가총액(백만원)
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,52.606516,화요일,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,109.548872,화요일,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,81.754386,화요일,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,174.310777,화요일,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,167.218045,화요일,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
performance_data.loc[0,money.columns[:-1]] = money.iloc[18,:-1]
performance_data = performance_data.fillna(method='ffill')

In [17]:
performance_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38095 entries, 0 to 38094
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   방송일시         38095 non-null  object
 1   노출(분)        38095 non-null  float64
 2   마더코드         38095 non-null  int64
 3   상품코드         38095 non-null  int64
 4   상품명          38095 non-null  object
 5   상품군          38095 non-null  object
 6   판매단가         38095 non-null  int64
 7   취급액          38095 non-null  float64
 8   판매량          38095 non-null  float64
 9   요일           38095 non-null  object
 10  hour         38095 non-null  int64
 11  minute       38095 non-null  int64
 12  date         38095 non-null  object
 13  month        38095 non-null  int64
 14  season       38095 non-null  object
 15  mean_rating  38095 non-null  float64
 16  holiday      38095 non-null  object
 17  holiday_yn   38095 non-null  int64
 18  기온           38095 non-null  float64
 19  누적강수량        38095 non-null  float64
 20  풍속           38095 non-null  float64
 21  습도           38095 non-null  float64
 22  현재지수         38095 non-null  object
 23  대비           38095 non-null  float64
 24  등락률(%)       38095 non-null  float64
 25  배당수익률(%)     38095 non-null  float64
 26  주가이익비율       38095 non-null  float64
 27  주가자산비율       38095 non-null  float64
 28  시가지수         38095 non-null  object
 29  고가지수         38095 non-null  object
 30  저가지수         38095 non-null  object
 31  거래량(천주)      38095 non-null  object
 32  거래대금(백만원)    38095 non-null  object
 33  상장시가총액(백만원)  38095 non-null  object
dtypes: float64(13), int64(7), object(14)
memory usage: 11.4+ MB

In [18]:
for i in ['현재지수']+list(performance_data.columns[28:]):
    performance_data[i] = performance_data[i].apply(lambda x: re.sub(',','',x))
    performance_data[i] = performance_data[i].map(float)

In [19]:
with open('../data/merged_data_concat.pickle', 'wb') as f:
    pickle.dump(performance_data, f)